<div class="ui text container item">
  <div class="ui segment">
    <div class="ui right labeled left icon input stretch">
      <i class="unordered list icon"></i>
      <input type="text" placeholder="Add ToDo">
      <a class="ui tag label">
        Add ToDo
      </a>
    </div>
    <p class="ui horizontal divider">
      <i class="list unordered icon"></i>
      ToDo List
    </p>
    <div class="ui list">
      <div class="item">Apples</div>
      <div class="item">Pears</div>
      <div class="item">Oranges</div>
    </div>
  </div>
</div>
