<div class="ui text container item">
  <div class="ui segment">
    <div class="ui right labeled left icon input stretch">
      <i class="unordered list icon"></i>
      <input type="text" placeholder="What to do?" (keyup.enter)="addToDo(input)" #input>
      <a class="ui tag label" (click)="addToDo(input)">
        Add
      </a>
    </div>
    <p *ngIf="todos.length > 0" class="ui horizontal divider">
      <i class="list unordered icon"></i>
      ToDo List
    </p>
    <div id="todos" class="ui middle aligned divided selection list">
      <div class="todo item" *ngFor="let todo of todos">
        <todo-item [todo]="todo"></todo-item>
      </div>
    </div>
  </div>
</div>
